html,body {
    min-height: 100vh;
    article {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    button {
        background-color:  #a23132;
        outline: none;
        border: none;
        color: white;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 10px;
    }
   
}
::placeholder {
    color: white;
}
header {
        
        background-color: #37414e;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;

        align-items: center;

        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        .header__inside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 1050px;
        }
        form { 
            width: 100%;
        }
      
        p {
            color: white;
        }
        
       
    
        .header__img {
            width: 80px;
            height: 80px;
            margin-top: 50px;
            align-self: center;
        }
   
        .header__submit {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 30px;
           
            p {
                color: white;
            }
            .required {
                color: #a23132;
                padding-left: 5px;
            }
            input {
                padding: 10px;
                background-color: transparent;
                border: 0.5px solid #4c4f53;
                border-radius: 3px;
                width: 200px;
                outline: none;
                color: white
            }
            textarea {
                padding: 20px;
                border: 1px solid #4c4f53;
                border-radius: 3px;
                background-color: inherit;
                margin-bottom: 40px;
                outline: none;
                color: white;
            }
          
          
            .header__submit_first {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                input {
                    margin-bottom: 10px;
                }
            }
            .header__submit_second {
                display: flex;
                flex-direction: column;
            }
            label {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-bottom: 10px;
            }
        }
  

      
}
$bp-small: 1024px;

@media only screen and (max-width: $bp-small) {
    header {
        width: 100%;
        .header__inside {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        .header__logo {
            padding-left: 20px;
        }
        .header__submit {
            width: 100%;
            display: flex;
            flex-direction: column !important;
            justify-content: unset;
            height: unset;
        }
    
        .header__submit_first {
          
            height: unset !important;
            input,textarea {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .header__submit_second {
          
            width: 100%;
            textarea {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        label {
            flex-direction: column;
        }
    }
        
}
main {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    
        .title{
            font-size: 18px;
            font-weight: bold;
            color: #37414e;
            padding-bottom: 40px;
        }
        .print_comment {
            display: flex;
            flex-wrap: wrap;
            width: 1050px;
            
        }
        .message {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // background-color: #9dc9f5;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 30px;
            background-color: #37414e;
            p {
                margin-bottom: 10px;
            }
            .message_head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 1000px;
           }
           input,textarea {
                width: 200px;
                padding: 10px;
                border: 1px solid white;
                color: white;
                border-radius: 3px;
                margin-bottom: 10px;
                outline: none;
            }
            div p{
                color: white;
            }
            div p:nth-child(2){
                margin-bottom: 20px;
            }  
            div p:nth-child(3){
                color: #778376;
            }   
            .message_head img {
                width: 20px;
                height: 20px;
            } 
            .message_head_left {
            display: flex;
            flex-direction: row;
                .item_title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    p:nth-child(1) {
                        color: black;
                    }
                }
                button {
                    width: 200px;
                }
            }  

            .message_head_right {
                width: 300px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                img {
                    cursor: pointer;
                }
            }  
            .message_body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .send_comment {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 600px;
                }
                .allcomments {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 1000px;
                  
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    $bp-small: 1024px;
    @media only screen and (max-width: $bp-small) {
        main {
            padding-top: 20px;
            padding-bottom: 0;
            .print_comment {
                width: 90%;
                justify-content: center;
            }
            .message {
                width: 100%;
                
                .message_head {
                    width: 100%;
                    flex-direction: column-reverse;
                    .message_head_left {
                        width: 100%;
                        .item_title {
                            width: 100%;
                            input,textarea,button {
                                width: 100%;
                            }
                        }
                    }
                    .message_head_right {
                        width: 100%;
                    }
                    .message_head_right p {
                        white-space: nowrap;
                    }
                    img {
                        width: 15px;
                        height: 15px;
                        margin-left: 5px;
                    }
                }
                p {
                    font-size: 12px;
                }
                .message_body {
                    width: 100%;
                    .send_comment {
                        width: 100%;
                        flex-direction: column;
                        input {
                            width: 100%;
                        }
                    
                    }
                    .allcomments {
                        width: 100% ;
                    }
                }
            }
           

           
        }
        
    }


footer {
    display: flex;
    flex-shrink: 0;
    margin: auto auto 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:  #37414e;
    width: 100%;
   
    
    .bottom {
        width: 1060px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  
    p {
        color: white;
    }
 
    .social_links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80px;
            img {
                width: 30px;
                height: 30px;
                padding: 7px;
                border-radius: 30px;
                border: 1px solid #4c4f53;
            }
    }    
}
// media request
$bp-small: 1024px;

@media only screen and (max-width: $bp-small) {
footer{ 
    width: 100%;
    .bottom {
        width: 100%;
    }
    .header__logo {
        padding-left: 20px;
    }
    .social_links {
        padding-right: 20px;
    }
}
}
